body
{
  padding: 0;
}

.div_form{

}

h1{
  text-align: center;
}

.calc{
  padding: 20px;
  background-color: lightgrey;
}

.calc>.form-group{
    top: 10px;
    bottom: 10px;
}

.calc>.form-group>.form-control
{
  max-width: 250px;
  margin: 10px;
}

form>button
{
  background-color: lightgreen;
}
